LOG_LEVEL=INFO
NERM_BASE_URL=
NERM_TENANT=
NERM_BEARER_TOKEN=
NERM_API_TOKEN=
NERM_API_BASE_PATH=/api
NERM_ADD_LOCATION_WORKFLOW_ID=
NERM_ADD_DEPARTMENT_WORKFLOW_ID=
NERM_ADD_ORGANIZATION_WORKFLOW_ID=
NERM_AUDIT_FILTER_ENUMS_JSON=
NERM_SMOKE_ENABLE_ADVANCED_SEARCH=0
NERM_SMOKE_ADVANCED_SEARCH_JSON=
NERM_SMOKE_ENABLE_ROLES=0
NERM_SMOKE_ENABLE_GET_BY_ID=0
NERM_SMOKE_ENABLE_WRITES=0
NERM_SMOKE_CREATE_DELEGATION_JSON=
NERM_SMOKE_WORKFLOW_SUBMIT_JSON=
NERM_STATIC_REFERENCE_CACHE_TTL_SEC=3600
NERM_EMBED_CHARTS_IN_RESPONSE=1
NERM_DEBUG_LOG_BODIES=0
NERM_TRACE_MAX_BYTES=4096
NERM_CHART_INCLUDE_BASE64=0
NERM_TRANSPORT=stdio
NERM_HTTP_HOST=0.0.0.0
NERM_HTTP_PORT=8080
